/* media queries md - 768px */
@media (min-width: 768px) {
  .card {
    width: 50% !important; } }

/* media queries lg - 992px */
@media (min-width: 992px) {
  .card {
    width: 33% !important; } }

* {
  margin: 0;
  padding: 0; }

.titulo {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold; }

p {
  font-family: 'Roboto Condensed', sans-serif !important; }

.carousel-inner {
  max-height: 24rem; }

/* ======= sol ======== */
.card {
  transition: all 0.3s; }
  .card:hover {
    transform: scale(1.1); }

/* ======= form ======== */
#nosotros {
  padding: 15px;
  border: solid 5px grey;
  border-radius: 15px; }
