/* import */
/* variables */
/* media queries md - 768px */
@media (min-width: 768px) {
  .card {
    width: 50% !important; } }

/* media queries lg - 992px */
@media (min-width: 992px) {
  .card {
    width: 33% !important; } }

/* reset */
* {
  margin: 0;
  padding: 0; }

/* header */
header h1 {
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: bolder;
  font-size: 50px !important;
  text-align: center; }

nav {
  background-color: #e43131; }
  nav li a {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 30px;
    color: white;
    font-weight: bold; }

/* ajustes de todos los h2 - p - section */
h2 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: bolder;
  font-size: 35px;
  margin-bottom: 0px; }

p, .lc--p, .foo--p {
  text-align: center;
  font-family: "Montserrat", sans-serif !important;
  font-size: 0, 5rem !important;
  margin: 0; }

section {
  margin-top: 20px; }

/* rx */
.carousel-inner {
  max-height: 24rem;
  border-radius: 20px; }

/* sol */
.card {
  border: solid 3px gray;
  border-style: double;
  transition: all 0.4s; }
  .card:hover {
    transform: scale(1.1); }
    .card:hover .card-body {
      background-color: #e43131;
      margin-bottom: 5px; }
      .card:hover .card-body p, .card:hover .card-body .lc--p, .card:hover .card-body .foo--p {
        font-family: "Montserrat", sans-serif !important;
        background-color: white; }

/* lc */
.lc--p, .foo--p {
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px; }

#lc .text {
  margin-bottom: 10px; }

#lc img {
  border-radius: 10px; }

/* promos */
#promos .text {
  margin-bottom: 10px; }

/* contacto */
#nosotros {
  padding: 15px;
  border: solid 5px #e43131;
  border-radius: 15px; }

/* foo */
.foo--p {
  padding-left: 15px; }
