/* import */
@import 'variables';
@import 'responsive';

/* reset */
* {
    margin: 0;
    padding: 0;
}

/* header */
header h1 {
    font-family: $fuenteTitulo;
    font-weight: bolder;
    font-size: 50px !important;
    text-align: center;
}

nav {
    background-color: rgb(228, 49, 49);

    li a {
        font-family: $fuenteTitulo;
        font-size: 30px;
        color: white;
        font-weight: bold;
    }
}

/* ajustes de todos los h2 - p - section */
h2 {
    text-align: center;
    font-family: $fuenteTitulo;
    font-weight: bolder;
    font-size: $sizeh2;
    margin-bottom: 0px;
}

p {
    text-align: center;
    font-family: $fuenteParrafo;
    font-size: $sizeParrafo;
    margin: 0;
}

section {
    margin-top: 20px;
}

/* rx */
.carousel-inner {
    max-height: 24rem;
    border-radius: 20px;

}

/* sol */
.card {
    border: solid 3px gray;
    border-style: double;
    transition: all 0.4s;

    &:hover {
        transform: scale(1.1);

        .card-body {
            background-color: rgb(228, 49, 49);
            margin-bottom: 5px;

            p {
                font-family: $fuenteParrafo;
                background-color: white;
            }
        }
    }
}

/* lc */
.lc--p {
    @extend p; 
    & {
        text-align: start;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }    
}
#lc{
    .text {
        margin-bottom: 10px;
    }
}

#lc {
    img {
        border-radius: 10px;
    }
}

/* promos */

#promos{
    .text {
        margin-bottom: 10px;
    }
}

/* contacto */
#nosotros {
    padding: 15px;
    border: solid 5px rgb(228, 49, 49);
    border-radius: 15px;
}


/* foo */
.foo--p {
    @extend .lc--p;
    & {
        padding-left: 15px;
    }
}


