/* import */
@import 'variables';
@import 'responsive';

/* reset */
* {
    margin: 0;
    padding: 0;
}

/* header */
header h1 {
    font-family: $fuenteTitulo;
    font-weight: bolder;
    font-size: 50px !important; 
    text-align: center;
}

nav {
    background-color: rgb(228, 49, 49);
    li a {
        font-family: $fuenteTitulo;
        font-size: 40px;
        color: white;
    }
}

/* rx */

h2{
    text-align: center;
}

p{ 
    font-family: $fuenteParrafo;
    font-size: $fuenteParrafo;
}

.carousel-inner {
    max-height: 24rem;
    border-radius: 20px;
}










h2 {
    font-family: $fuenteTitulo;
    font-weight: bolder;
    font-size: 40px !important;  
}






/*.titulo {
    font-family: $fuenteTitulo;
    font-weight: bold;
    font-size: 40px !important;
}

p {
    font-family: $fuenteParrafo;
}*/



/* ======= sol ======== */

.card {
    transition: all 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

/* ======= form ======== */
#nosotros {
    padding: 15px;
    border: solid 5px rgb(228, 48, 49);
    border-radius: 15px;
}

