@import 'variables';
@import 'responsive';

/* reset */
* {
    margin: 0;
    padding: 0;
}

header h1 {
    font-family: $fuenteTitulo;
    font-weight: bolder;
    font-size: 50px !important;    
}







/*.titulo {
    font-family: $fuenteTitulo;
    font-weight: bold;
    font-size: 40px !important;
}*/

p {
    font-family: $fuenteParrafo;
}

.carousel-inner {
    max-height: 24rem;
}

/* ======= sol ======== */

.card {
    transition: all 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

/* ======= form ======== */
#nosotros {
    padding: 15px;
    border: solid 5px rgb(165, 18, 18);
    border-radius: 15px;
}

